@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ebebeb;
  --foreground: #171717;
  --window: #b8b8b8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #151515;
    --foreground: #ededed;
    --window: #2c2c2c;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.markdown-content {
  h1 {
    @apply text-3xl my-4;
  }

  h2 {
    @apply text-2xl my-3;
  }

  h3 {
    @apply text-xl my-2;
  }
}